.content-page {
    background-color: #1F1F1F;
    padding: 10;
}

.classes-label {
    font-size: 20;
    font-weight: bold;
    color: #333333;
    horizontal-align: start;
}

.classes-stack-layout {
    padding: 10;
}

.toolbar-item {
    color: black;
    font-size: 22;
}
